{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p>
    Welcome to Words List Manager Lite. A simple words list manager 
    that can help you create, edit, and download word lists for my 
    application, WordsHelper (coming soon). At here, you can: 
    <ul>
        <li>
            <a href="{{ url_for('create')}}">Create a words list</a>
        </li>

        <li>
            <a href="{{ url_for('get_collections')}}">View/edit current words lists</a>
        </li>
    </ul>
</p>
{% endblock %}